<!--
<div class="animated fadeIn">
  
   
  <div class="card">
    <div class="card-header">
      
   
   
      Fiche Amende
    </div>
    <div class="card-body">
     <form class="vehicule-form"  > 
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="Type-Véhicule">Numéro avis<span class="kv-reqd" style="color: red">*</span></label>
          <select  class="form-control" id="Type-Véhicule" name="Type_vehicule" #Type_vehicule="ngModel" [(ngModel)]="vehiculeservice.selectedVehicule.Type_vehicule " >
                   
            <option value="Voiture">Voiture </option>
            <option value="Camion">Camion</option>
            <option value="chariot élévateur ">Chariot élévateur </option>
          </select>
        </div>
        
        <div class="form-group col-sm-4">
          <label for="marque">Date de l'avis</label>
          <input type="text" class="form-control" id="marque" name="marque" #marque="ngModel" [(ngModel)]="vehiculeservice.selectedVehicule.marque "  >
        </div>
      </div>
    </form>
  
  </div>
  
   

</div>-->